[submodule "NeuralNet"]
	path = NeuralNet
	url = https://github.com/Koushik0901/NeuralNet.git
[submodule "FLAIR-Segmentation-MLOPS"]
	path = FLAIR-Segmentation-MLOPS
	url = https://github.com/Koushik0901/FLAIR-Segmentation-MLOPS.git
[submodule "Image-Captioning"]
	path = Image-Captioning
	url = https://github.com/Koushik0901/Image-Captioning.git
[submodule "Spotify-Music-Recommender"]
	path = Spotify-Music-Recommender
	url = https://github.com/Koushik0901/Spotify-Music-Recommender
